 body {
     background-color: blueviolet;
     /* text-align: center; */
     /* text-transform: uppercase; */
     letter-spacing: 5px;
     color: white;
     font-size: 20px;
     font-family: Verdana, Geneva, Tahoma, sans-serif
 }
 
 #div1 {
     float: left;
     width: 100%;
     margin: 0;
     text-align: center;
     height: 200px;
     /* margin-top: 250px; */
 }
 
 p {
     /* font-size: 70px; */
     /* font-weight: bolder; */
     color: black;
     margin: 0;
     /* margin-bottom: 40px; */
 }
 
 footer {
     background-color: black;
 }
 
 header a {
     text-decoration: none;
 }